<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<h1 class="title">My Modal title</h1>
		<ion-header-buttons side="primary" class="button button-clear">
			<button class="button button-clear" ng-click="contactsModal.hide()"><i class="icon ion-close"></i></button>
		</ion-header-buttons>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-item ng-click="shareOnEmail(contact)" collection-repeat="contact in contacts | orderBy: 'name.familyName'" item-height="75">
				<h2>{{contact.name.givenName}} <strong>{{contact.name.familyName}}</strong></h2>
				<p>{{contact.emails[0].value}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-modal-view>
