<ion-view title="Movie list" id="view-movie-list">
    <ion-content>
        <div class="bar item-input-inset bar-search">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search"></i>
                <input type="search" ng-model="searchString" placeholder="Search">
            </label>
        </div>
        <ion-list>
            <ion-item ng-repeat="movie in data.movies | filter: searchString">
                {{movie.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
