<ion-view title="{{movie.title}}" id="view-movies-detail">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button class="button-clear button-icon"></ion-nav-back-button>
	</ion-nav-bar>
	<ion-content overflow-scroll="true">

		<span ng-if="movie.backdrop_path">
			<img src="http://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}" />
		</span>

		<button ng-click="toggleWatched(movie.id)" class="button button-block" ng-class="{
			'button-positive': !isMovieWatched(),
			'button-assertive': isMovieWatched()}">
			<span ng-if="!isMovieWatched()">Mark as watched</span>
			<span ng-if="isMovieWatched()">Unmark as watched</span>
		</button>

		<ul class="list">
			<li class="item">
				<strong>Release date:</strong>
				{{::movie.release_date | date: 'yyyy'}}
			</li>
			<li class="item">
				<strong>Rating:</strong>
				{{::movie.vote_average}} ({{::movie.vote_count}}x)
			</li>
			<li class="item item-body">
				<p>{{::movie.overview}}</p>
			</li>
		</ul>

		<span ng-if="!credits">
			<ion-spinner></ion-spinner>
		</span>
		<span ng-if="credits">
			<ul class="list">
				<li class="item"><strong>Cast:</strong></li>
				<li class="item" ng-repeat="cast in credits.cast track by cast.id">{{::cast.name}}</li>
			</ul>
		</span>

	</ion-content>
</ion-view>